html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100dvw;
    height: 100dvh;

    background-image: url('https://xxx-gloriousphoenix-xxx.github.io/Uni-Grade2-Web/Main/data/planet_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

.circle-container {
    position: relative;
    width: 80dvh;
    height: 80dvh;
    border-radius: 50%;
}

.circle-container > button {
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transform: translate(-50%, -50%);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: rotateButton linear infinite;
}

.circle-container button span {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-weight: 500;
}

@keyframes rotateButton {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}