html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100dvw;
    height: 100dvh;

    background-image: url('https://xxx-gloriousphoenix-xxx.github.io/Uni-Grade2-Web/Main/data/planet_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

div.container {
    position: relative;
    border-radius: 50%;
}

div.container button {
    position: absolute;
    border-radius: 50%;
    background-color: transparent;

    border: none;
    cursor: pointer;
    transform: translate(-50%, -50%);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Times New Roman', Times, serif;
    color: black;
}

@media (min-width: 1366px) {
    div.container {
        width: 80dvh;
        height: 80dvh;
    }
    div.container button {
        font-size: 2.5vw;
        font-weight: 500;
    }
}
@media (min-width: 768px) and (max-width: 1366px) {
    div.container {
        width: 65dvh;
        height: 65dvh;
    }
    div.container button {
        font-size: 4vw;
        font-weight: 500;
    }
}
@media (min-width: 448px) and (max-width: 768px) {
    div.container {
        width: 50dvh;
        height: 50dvh;
    }
    div.container button {
        font-size: 4vw;
        font-weight: 500;
    }
}
@media (max-width: 448px) {
    div.container {
        width: 30dvh;
        height: 30dvh;
    }
    div.container button {
        font-size: 6vw;
        font-weight: 500;
    }
}