/*---------------NonPC---------------*/
@media (width <= 1024px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 14% 49% 14% 49% 49% 14%;
        grid-template-areas:
            "header-1"
            "navbar  "
            "header-2"
            "lsection"
            "rsection"
            "footer  ";
    }
}