/*---------------Phone---------------*/
@media (width <= 448px) {
    body {
        grid-template-rows: 14dvh 49dvh 14dvh 99dvh 49dvh 14dvh;
    }
    body > * {
        border-radius: 6vw;
    }
    main > button:first-child {
        border-radius: 6vw 0 0 6vw;
    }
    main > button:last-child {
        border-radius: 0 6vw 6vw 0;
    }
    nav > button {
        border-radius: 6vw;
    }
    button {
        box-shadow: inset 0 0 0 0.5vw black;
    }
    * {
        font-weight: 400;
        font-size: 6vw;
    }
    section > div > img {
        width: 30%;
        height: auto;
    }
}