html, body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
}
:root {
    --col1: rgb(41, 34, 42);
    --col2: #bc5d4b;
    --col3: #f3f5ec;
    --col4: #aa5038; 

    --bgcol1: #dcd2c8;
    --bgcol2: #495031;
    --bgcol3: #b1dff9;
    --bgcol4: rgb(202, 170, 54);
    --bgcol5: #b14429;
}
header, footer {
    height: 10dvh;
    width: 100%;
}
header {
    display: flex;
    justify-content: left;
    align-items: center;
}
button {
    margin-left: 2.5dvh;
    width: 5dvh;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.5dvh solid;
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80dvh;
}