button {
    border-color: var(--col2);
    background-color: var(--bgcol1);
}
button.picked {
    background-color: var(--col2);
}
button:hover, button:active {
    background-color: var(--col2);
}
main {
    background-color: var(--col2);
}
header, footer {
    background-color: var(--bgcol1);
}