button {
    border-color: var(--col3);
    background-color: var(--bgcol2);
}
button.picked {
    background-color: var(--col3);
}
button:hover, button:active {
    background-color: var(--col3);
}
main {
    background-color: var(--col3);
}
header, footer {
    background-color: var(--bgcol2);
}