button {
    border-color: var(--bgcol4);
    background-color: var(--bgcol3);
}
button.picked {
    background-color: var(--bgcol4);
}
button:hover, button:active {
    background-color: var(--bgcol4);
}
body {
    background: linear-gradient(
        to bottom,
        var(--bgcol3) 20%, 
        var(--bgcol4) 50%,  
        var(--bgcol5) 100%
    );
}