/*---------------PC---------------*/
@media (min-width: 1366px) {
    div.content-wrapper {
        flex-direction: row;
    }
    body {
        grid-template-rows: 10dvh 75dvh 15dvh;
    }
    main {
        padding: 1% 10%;
    }
    div.content-wrapper {
        justify-content: left;
        height: 70%;
        gap: 2%;
    }
    section.service {
        width: 30%;
        padding: 4dvh 0;
    }
    h2.service {
        margin-top: 2dvh;
    }
    p.service {
        margin: 0 1vw;
    }
    div.content {
        gap: 3dvh;
    }
    img.service {
        height: 40%;
    }
    p.content-header {
        margin-right: 30%;
    }

    * {
        font-size: 2dvh;
    }
    h1.content-header {
        font-size: 4dvh;
    }
    h2.service {
        font-size: 3dvh;
    }
    div.input-wrapper {
        width: 25%;
        height: 50%;
    }

    #search {
        padding: 0 3em 0 1em;
    }
    div.input-wrapper::after {
        width: 1.5em;
        left: 110%;
        transform: translateY(-130%);
    }
    #page-menu {
        display: none;
    }
}

/*---------------NonPC---------------*/
@media (max-width: 1366px) {
    body {
        grid-template-rows: 10dvh auto 15dvh;
    }
    main {
        padding: 10% 10%;
    }
    section.service {
        padding: 2dvh;
    }
    div.content-wrapper {
        flex-direction: column;
    }
    div.content-wrapper {
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 2dvh;
        margin-top: 2dvh;
    }
    img.service {
        width: 70%;
        margin-bottom: 1dvh;    
    }

    * {
        font-size: 2dvh;
    }
    h1.content-header {
        font-size: 3.5dvh;
    }
    h2.service {
        font-size: 3dvh;
    }
    p.service {
        margin: 1dvh 0;
    }

    div.input-wrapper {
        width: 50%;
        height: 25%;
    }

    #search {
        padding: 0 1.5em 0 0.5em;
    }
    div.input-wrapper::after {
        width: 1em;
        left: 105%;
        transform: translateY(-115%);
    }
    button.option {
        display: none;
    }
    div.logo, div.page-menu {
        width: 50dvw
    }
}