/*---------------PC---------------*/
@media (width >= 1025px) {
    body {
        grid-template-columns: 24.75dvw 49.5dvw 24.75dvw;
        grid-template-rows: 24dvh calc(50dvh / 6 - 1dvh) calc(250dvh / 6 - 1dvh) 24dvh;
        grid-template-areas: 
            "header-1 header-1  header-1"
            "navbar   header-2  header-2"
            "navbar   lsection  rsection"
            "footer   footer    footer  ";
    }
    div.item-text {
        width: 70%;
    }
    div.item-special {
        width: 30%
    }
}

/*---------------Tablet & Phone---------------*/
@media (width <= 1024px) {
    body {
        grid-template-columns: 100dvw;
        grid-template-areas:
            "header-1"
            "navbar  "
            "header-2"
            "lsection"
            "rsection"
            "footer  ";
    }
    section {
        flex-flow: row wrap;
    }
    section > div {
        width: 100%;
    }
    div.item-text, div.item-special {
        width: 50%;
    }
}