/*---------------PC---------------*/
@media (width >= 1025px) { /*>=1366px*/
    body {
        height: 100dvh;
    }
    body > * {
        border-radius: min(2vw, 5vh);
    }
    main > button:first-child {
        border-radius: 2vw 0 0 2vw;
    }
    main > button:last-child {
        border-radius: 0 2vw 2vw 0;
    }
    nav > button {
        border-radius: 2vw;
    }
    button {
        box-shadow: inset 0 0 0 min(0.125vw, 0.5vh) black;
    }
    * {
        font-weight: 600;
        font-size: min(1.5vw, 3vh);
    }
    div.item-text > span {
        font-size: min(2.5vw, 5vh);
    }
    /**/
    section {
        flex-flow: column wrap;
    }
    section > div {
        flex-flow: row nowrap;
        height: 100%;
    }
    section.section-1 {
        flex-flow: column nowrap;
    }
    section.section-1 > div.section-1:last-child {
        justify-content: center;
        gap: calc((100% - 27.5em) / 6);
    }
    section.section-2 {
        flex-flow: column nowrap;
        align-items: center;
        /* justify-content: center; */
        gap: 2%;
        justify-content: flex-start;
        padding: 1.5% 2%;

    }
    section.section-2 > button {
        border-radius: 2vw;
        width: 100%;
    }
    div.input-section {
        width: 100%;
        flex-flow: row nowrap;
    }
    input.section-1, #area {
        width: 4.5em;
        height: 1.5em;
    }
    #calculate, #clear {
        width: 5.5em;
        height: 2.5em;
    }
    #area {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input.section-1, #calculate, #clear, #area {
        background-color: black;
        border: none;
        border-radius: 1em;
        padding: 0.5em;
    }

    div.item-x {
        padding-left: 3.5vw;
    }
    #github {
        width: 9vw;
        height: 40%;
        border-radius: 1vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    #github > span {
        width: 35%;
    }
    #github > span:last-child {
        background-color: orange;
        padding: 0.5vw;
        border-radius: 0.5vw;
        color: black;
    }

    div.author {
        /* width: 65%; */
        width: 19.5vw;
        height: 40%;
        border-radius: 1vw;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: min(0.5vw, 1vh);
        background-color: black;
        box-sizing: border-box;
    }
    div.author > span:first-child {
        background-color: orange;
        padding: 0.5vw;
        border-radius: 0.5vw;
        color: black;
    }
    div.item-text span + span {
        padding: 0 0.25em;
    }
}