/*---------------Tablet---------------*/
@media (449px <= width <= 1024px) {
    body {
        height: 245dvh;
        grid-template-rows: 14dvh 49dvh 14dvh 79dvh 69dvh 14dvh;
    }
    body > * {
        border-radius: 4vw;
    }
    main > button:first-child {
        border-radius: 6vw 0 0 6vw;
    }
    main > button:last-child {
        border-radius: 0 6vw 6vw 0;
    }
    nav {
        border-radius: 4vw;
    }
    nav > button {
        border-radius: 4vw;
    }
    button {
        box-shadow: inset 0 0 0 0.5vw black;
    }
    * {
        font-weight: 400;
        font-size: 4vw;
    }
    section > div > img {
        width: 15%;
        height: auto;
    }
    div.item-text {
        display: flex;
        flex-flow: column nowrap;
    }
    div.item-x {
        padding-left: 5vw;
    }
    #github {
        width: 60%;
        height: 7dvw;
        border-radius: 3vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    #github > span {
        width: 40%;
    }
    #github > span:last-child {
        background-color: orange;
        padding: 0.1vw;
        border-radius: 1vw;
        color: black;
    }

    div.author {
        width: 60%;
        height: 30%;
        border-radius: 2vw;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        background-color: black;
        box-sizing: border-box;
    }
    div.author > span {
        display: flex;
        font-size: 2vw;
        flex-flow: row nowrap;
    }
    div.author > span:first-child {
        background-color: orange;
        padding: 0.25vw;
        border-radius: 0.5vw;
        color: black;
    }
    input.section-1,
    #calculate,
    #clear,
    #area {
        width: 7em;
    }
}