td.item-special {
    width: 40%;
}
td.item-x {
    text-align: left;
}
div.item-x {
    padding-left: 15%;
}
td.item-y {
    text-align: right;
}
div.item-y {
    padding-right: 5%;
}
td.item-1, td.item-6 {
    width: 60%;
}

div.item-x, a {
    width: 40% !important;
}

body {
    font-family: 'Times New Roman', Times, serif;
}