/*---------------General---------------*/
html, body {
    margin: 0;
    height: 100dvh;
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
body > * {
    display: flex;
    width: 100dvw;
}
* {
    color: #1a1a1a;
    font-size: min(1dvw, 2dvh);
    font-family: "Cinzel", cursive;
    font-weight: 400;
}
body > header, body > footer {
    box-shadow: inset 0 0 0 min(0.1dvh, max(0.1dvw, 0.1dvh)) #1a1a1a;
}


/*---------------Header---------------*/
body > header {
    height: 10dvh;
    background-color: white;
}
body > header > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50dvw;
}
div.search {
    padding: 1dvh 1dvw;
    position: relative;
}
#search {
    width: 12dvw;
    height: 3dvh;
    border: none;
    padding: 1dvh 2dvw 1dvh 1dvw;
    box-shadow: inset 0 0 0 min(0.1dvh, max(0.1dvw, 0.1dvh)) #1a1a1a;
    border-radius: max(2dvw, 5dvh);
}
div.search::after {
    display: inline-block;
    width: 2dvh;
    height: 2dvh;

    content: '';
    background-image: url('https://xXx-GloriousPhoenix-xXx.github.io/Uni-Grade2-Web/Work%204/data/search.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transform: translateY(75%);
    right: 1.75dvw;
}
#menu {
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.5s ease;
}
#tooltip {
    display: none;
    position: absolute;
    flex-flow: column wrap;
    justify-content: space-evenly;

    width: fit-content;
    height: fit-content;

    margin-top: 20dvh;
    padding: 1dvh 1dvw;

    box-shadow: inset 0 0 0 0.1dvw #1a1a1a;
    background-color: white;
    gap: 1dvh;

    border-radius: max(0.5dvw, 2dvh);
}
#tooltip > button {
    height: 3dvh;
    border-radius: max(2dvw, 5dvh);
    border: none;
    box-shadow: inset 0 0 0 min(0.1dvh, max(0.1dvw, 0.1dvh)) #1a1a1a;
    background-color: white;
}

/*---------------Main---------------*/
body > main {
    height: 75dvh;
}
div.main {
    width: 100%;
    margin: 5dvh 15dvw 5dvh 15dvw;
    display: flex;
    flex-flow: row wrap;
}
div.main > * {
    width: 100%;
}
div.main header {
    margin: 0 10% 0 0;
    height: 25%;
}
div.main header h1 {
    font-size: min(3dvw, 6dvh);
}
div.main header p {
    color: #2a2a2a;
}
div.main header > * {
    margin: 0;
}
div.main main {
    display: flex;
    justify-content: center;
    height: 75%;
    flex-flow: column wrap;
}
section.service {
    width: 30%;
    height: 90%;
    box-shadow: inset 0 0 0 min(0.1dvh, max(0.1dvw, 0.1dvh)) #1a1a1a;
}

/*---------------Footer---------------*/
footer {
    display: flex;
    height: 15dvh;
    background-color: #1a1a1a;
}
footer * {
    display: flex;
    flex-flow: row nowrap;
    color: white;
}
div.logo {
    width: 40%;
    align-items: center;
    justify-content: center;
}
nav.options {
    width: 60%;
}
button.option {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2dvw;
    border: none;
    background-color: transparent;
}
button.option:hover {
    background-color: #2a2a2a;
}
img.logo {
    width: min(8dvw, 8dvh);
    aspect-ratio: 1;
}


