html, body {
    margin: 0;
    height: 100dvh;
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
body > * {
    display: flex;
    width: 100dvw;
}
body > header, body > footer {
    box-shadow: inset 0 0 0 min(0.1dvh, max(0.1dvw, 0.1dvh)) #1a1a1a;
}
header {
    height: 10dvh;
    background-color: white;
}
main {
    width: 70dvw;
    height: 45dvh;
    margin: 15dvh 15dvw;
}
footer {
    height: 15dvh;
    background-color: #1a1a1a;
}
* {
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50dvw;
}
div.search {
    padding: 1dvh 1dvw;
    position: relative;
}
#search {
    width: 12dvw;
    height: 3dvh;
    border: none;
    padding: 1dvh 2dvw 1dvh 1dvw;
    box-shadow: inset 0 0 0 min(0.1dvh, max(0.1dvw, 0.1dvh)) #1a1a1a;
    border-radius: max(2dvw, 5dvh);
}
div.search::after {
    display: inline-block;
    width: 2dvh;
    height: 2dvh;

    content: '';
    background-image: url('https://xXx-GloriousPhoenix-xXx.github.io/Uni-Grade2-Web/Work%204/data/search.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transform: translateY(75%);
    right: 1.75dvw;
}
#menu {
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.5s ease;
}
#tooltip {
    display: none;
    /* display: flex; */
    position: absolute;
    margin-top: 20dvh;
    flex-flow: column wrap;
    width: 5dvw;
    height: 11dvh;
    padding: 1dvh 1dvw;
    border: 0.1dvw solid #1a1a1a;
    background-color: white;
    gap: 1dvh;

    border-radius: max(0.5dvw, 2dvh);
}
#tooltip > button {
    height: 3dvh;
    border-radius: max(2dvw, 5dvh);
    border: none;
    box-shadow: inset 0 0 0 min(0.1dvh, max(0.1dvw, 0.1dvh)) #1a1a1a;
    background-color: white;
}
