body {
    margin: 0;
    background-color: #111;
}
div.container {
    width: 100dvw;
    display: flex;
    flex-flow: column wrap;
}
div.header, div.content, div.footer {
    width: 100dvw;
}
div.content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
div.content-wrapper {
    display: inline-flex;
    /* background-color: white; */
}
article {
    background-color: white;
}
















