:root {
    --pcbg: red;
    --tbbg: yellow;
    --phbg: lime;

    --pcscale: 100dvh;
    --tbscale: 125dvh;
    --phscale: 150dvh;
}

/*---------------PC---------------*/
@media (width >= 1024px) {
    div.header, div.footer {
        background-color: var(--pcbg);
    }
    div.container {
        height: var(--pcscale);
    }
    div.header {
        height: calc((1 / 8) * var(--pcscale));
    }
    div.content, div.content-wrapper {
        height: calc((23 / 32) * var(--pcscale));
    }
    div.footer {
        height: calc((5 / 32) * var(--pcscale));
    }
    div.content-wrapper {
        flex-flow: row nowrap;
        height: 70%;
        gap: 1vw;
    }
    article {
        width: calc((1 / 6) * 100dvw);
    }
}

/*---------------Tablet---------------*/
@media (449px <= width <= 1023px) {
    div.header, div.footer {
        background-color: var(--tbbg);
    }
    div.container {
        height: var(--tbscale);
    }
    div.header {
        height: calc((1 / 8) * var(--tbscale));
    }
    div.content, div.content-wrapper {
        height: calc((23 / 32) * var(--tbscale));
    }
    div.footer {
        height: calc((5 / 32) * var(--tbscale));
    }
    div.content-wrapper {
        flex-flow: column nowrap;
    }
}

/*---------------Phone---------------*/
@media (width <= 448px ) {
    div.header, div.footer {
        background-color: var(--phbg);
    }
    div.container {
        height: var(--phscale);
    }
    div.header {
        height: calc((1 / 8) * var(--phscale));
    }
    div.content, div.content-wrapper {
        height: calc((23 / 32) * var(--phscale));
    }
    div.footer {
        height: calc((5 / 32) * var(--phscale));
    }
    div.content-wrapper {
        flex-flow: column nowrap;
    }
}