#carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 95%;
    background-color: #222;
    border-radius: 1.5vw;
    box-shadow: inset 0 0 0 0.15dvw black;
}   
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
button.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    aspect-ratio: 1;
    margin: 0 1%;
    border: none;
    border-radius: 50%;
    font-size: 3vw;
    cursor: pointer;
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #222;
}
div.carousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46dvw;
    height: 37.5dvh;
    overflow: hidden;
    background-color: #FFA50022;
}
#carousel-left-button {
    background-image: url('../data/general/left-arrow.svg');
}
#carousel-left-button:hover {
    background-image: url('../data/general/left-arrow-hover.svg');
}
#carousel-right-button {
    background-image: url('../data/general/right-arrow.svg');
}
#carousel-right-button:hover {
    background-image: url('../data/general/right-arrow-hover.svg');
}