/*---------------PC---------------*/
@media (width >= 1025px) {
    body {
        grid-template-columns: 24.75dvw 49.5dvw 24.75dvw;
        grid-template-rows: 24dvh calc(50dvh / 6 - 1dvh) calc(250dvh / 6 - 1dvh) 24dvh;
        grid-template-areas: 
            "header-1 header-1  header-1"
            "navbar   header-2  header-2"
            "navbar   lsection  rsection"
            "footer   footer    footer  ";
    }
    div.item-text {
        width: 70%;
    }
    div.item-special {
        width: 30%
    }
    #tip-overlay {
        width: 30dvw;
        height: 35dvh;

        right: 26dvw;
        bottom: 27dvh;
    }
}

/*---------------Tablet & Phone---------------*/
@media (width <= 1024px) {
    body {
        grid-template-columns: 100dvw;
        grid-template-areas:
            "header-1"
            "navbar  "
            "header-2"
            "lsection"
            "rsection"
            "footer  ";
    }
    section {
        flex-flow: row wrap;
    }
    section > div {
        width: 100%;
    }
    div.section-1 {
        flex-flow: column wrap;
    }
    div.item-text, div.item-special {
        width: 50%;
    }
    #item-4 > div.input-section {
        width: 50%;
        gap: 1em;
    }
    div.calculate-wrapper {
        display: flex;
        height: fit-content;
        align-items: center;
    }
    div.calculate {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
    }
    div.area {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #item-4 {
        align-items:  center;
    }
    #item-5 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    form.generator {
        height: 14em;
    }
    #swap, div.bold {
        border-radius: 2em;
    }
    #tip-overlay {
        width: 85dvw;
        height: 25dvh;

        left: 50%;
        top: 15dvh;
        transform: translateX(-50%);
    }
}