body {
    margin: 0;
    height: 100%;
}
div.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    flex-direction: column;
}
div.item-top, div.item-bot {
    display: flex;
    width: 100%;
    height: 11dvh;
    justify-content: center;
    align-items: center;
}
div.item-mid {
    align-self: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* div.mid-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */
div.nav-wrapper {
    display: flex;
    /* width: 100%; */
    height: 30dvh;
    justify-content: center;
    align-items: center;

    width: calc(100% - 0.75vw - 0.25vw);
    margin-left: 0.5vw;
    margin-right: calc(0.25vw + 0.25vw);
}
div.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
div.dedication-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1vw;
    width: calc(100% - 0.75vw);
    margin-left: 0.25vw;
    margin-right: 0.5vw;

    height: 12dvh;
    margin-bottom: 0.3125vw;
}
div.main-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25vw;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
div.language-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 0.75vw - 0.125vw);
    margin-left: 0.5vw;
    margin-right: calc(0.25vw + 0.125vw);

    height: 20dvh;
    margin-top: 0.3125vw;
}
div.environment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 0.75vw - 0.125vw);
    margin-left: calc(0.25vw + 0.125vw);
    margin-right: 0.5vw;

    height: 30dvh;
    margin-top: 1vw;
}

div.item-x, div.item-y {
    display: flex;
    width: calc(40% - 0.5vw);
    height: calc(100% - 1vw);
}
div.item-1, div.item-6 {
    display: flex;
    width: calc(60% - 0.5vw);
    height: calc(100% - 1vw);

    text-align: center;
    flex-direction: column;
}
div.item-2, div.item-3, div.item-4, div.item-5 {
    display: flex;
    width: 100%;
    height: 100%;
}
/*-------------------------------------------------------------*/
div.round-item {
    border-radius: 5vw;
}
div.left-semi-round-item {
    border-radius: 5vw 0 0 5vw;
}
div.right-semi-round-item {
    border-radius: 0 5vw 5vw 0;
}
div.semi-round-item {
    height: 10dvh;
}
/*-------------------------------------------------------------*/
:root {
    --g1: #B9F6CA;
    --g2: #A5D6A7;
    --g3: #81C784;
    --g4: #66BB6A;
    --g5: #4CAF50;
    --g6: #388E3C;
    --g7: #2E7D32;
    --g8: #1B5E20;
    --bg: #111;
    --content-bg: #222;
}
div.item-x {
    background-color: var(--g1);
}
div.item-1 {
    background-color: var(--g2);
}
div.item-2 {
    background-color: var(--g3);
}
div.item-3 {
    background-color: var(--g4);
}
div.item-4 {
    background-color: var(--g5);
}
div.item-5 {
    background-color: var(--g6);
}
div.item-y {
    background-color: var(--g7);
}
div.item-6 {
    background-color: var(--g8);
}
div.item-named {
    background-color: var(--content-bg);
}
/*-------------------------------------------------------------*/
div.item-named {
    align-items: center;
    justify-content: center;
}
div.hub-style {
    font-size: 8vw;
    padding: 1vw 2vw;
    background-color: black;
    border-radius: 2vw;
}
span.hub-white {
    color: white;
}
span.hub-orange {
    padding: 0.25vw;
    border-radius: 0.75vw;
    background-color: orange;
    color: black
}
a {
    text-decoration: none;
}
div.item-named {
    font-size: 4vw;
    font-weight: 1000;
    color: white;
}
div.author {
    font-size: 3vw;
    padding: 1vw;
}
/*-------------------------------------------------------------*/
div.item-2 {
    display: flex;
    flex-flow: row wrap;
}
div.option-div {
    display: flex;
    width: 100%;
    height: calc((100% - 10%) / 6);
    background-color: black;
    border-radius: 6vw;
    margin: 0 1vw;
}
div.edge-option-div {
    margin: 0 1vw;
}
div.top-option-div {
    margin-top: 0.5%;
}
div.bottom-option-div {
    margin-bottom: 0.5%;
}
/*-------------------------------------------------------------*/
button.page-option {
    box-shadow: inset 0 0 0 0.5vw black;
    border-radius: 6vw;
}
button.option {
    width: 100%;
    height: 100%;
    background-color: black;
    border: none;
    color: white;
    font: 1000 4vw "Times New Roman", serif;
}
button.option:hover, button.current-marking {
    background-color: orange;
    color: black;
    cursor: pointer;
}
button:active {
    background-color: orange;
    color: black;
    cursor: pointer;
}
/*-------------------------------------------------------------*/
div.marking-options-div {
    display: flex;
    flex-flow: row nowrap;
}
div.marking-option {
    width: calc(100% / 3);
}
button.marking-option {
    border: 0.5vw solid black;
}
button.left-marking-option {
    border-radius: 5vw 0 0 5vw;
}
button.right-marking-option {
    border-radius: 0 5vw 5vw 0;
}
/*-------------------------------------------------------------*/
div.item-x div.hub-style {
    border-radius: 4vw;
}
div.item-x div.hub-style span.hub-orange {
    border-radius: 2vw;
}
/*-------------------------------------------------------------*/
@media (width >= 768px) {
    div.item-top, div.item-bot, div.dedication-wrapper {
        height: 20dvh;
    }
    div.semi-round-item {
        height: 95%;
    }
    div.nav-wrapper {
        height: 50dvh;
    }
    div.main-content {
        height: 101dvh;
    }
    div.language-wrapper {
        height: 40dvh;
    }
    div.environment-wrapper {
        height: 60dvh;
    }
}